<div class="header">
    <div class="title-area">
        <div class="menu-icon" (click)="clickMenu.emit()">
            <app-svg symbol="bars3"></app-svg>
        </div>
        <div class="title ml-4 flex w-fit rounded-lg py-1 px-1 pr-3">
            <div class="icon mr-2 rounded-md p-1 shadow">
                <app-svg [symbol]="icon"></app-svg>
            </div>
            {{ title | translate }}
        </div>
    </div>
    <div class="settings-area">
        <div class="game-info">
            <app-svg symbol="sun"></app-svg>
            <div class="celsius">35º</div>
            <div class="season">Verão</div>
            <div class="time">10:00</div>
        </div>
        <div class="settings">
            <div class="icon-square">
                <app-svg symbol="cog"></app-svg>
            </div>
        </div>
    </div>
    <div class="close-shortcut-area lg:hidden" (click)="clickMenuShortcut.emit()">
        <app-svg [symbol]="shortcutIsOpen ? 'chevronRight' : 'chevronLeft'"></app-svg>
    </div>
</div>