<div class="content">
    <ng-container *ngFor="let item of notifications">
        <div class="simple-notification">
            <div class="icon">
                <app-svg symbol="checkCircle"></app-svg>
            </div>
            <div class="content-notification">
                <div class="title">{{item.title}}</div>
                <div class="description">{{item.message}}</div>
            </div>
            <div class="close-icon">
                <app-svg symbol="xMark" class="cursor-pointer" (click)="remove(item.id!)"></app-svg>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!notifications.length">
        <div class="no-notification-text">Nenhuma notificação</div>
    </ng-container>
</div>