<div class="content">
    <ng-container *ngFor="let item of mock">
        <div class="simple-notification">
            <div class="icon">
                <app-svg symbol="checkCircle"></app-svg>
            </div>
            <div class="content-notification">
                <div class="title">Salvo com sucesso!</div>
                <div class="description">Descrição teste hehehe dawda dwadaw aw</div>
            </div>
            <div class="close-icon">
                <app-svg symbol="xMark"></app-svg>
            </div>
        </div>
    </ng-container>
</div>