@import 'mixins/button.mixin';

.btn {
    @apply rounded border font-medium shadow-sm disabled:cursor-not-allowed;
    transition: 0.3s all;

    &.primary {
        @include primaryButton;
    }

    &.secondary {
        @include secondaryButton;
    }

    &.terciary {
        @include terciaryButton;
    }

    &.danger {
        @include dangerButton;
    }

    &.warning {
        @include warningButton;
    }

    &.info {
        @include infoButton;
    }

    &.success {
        @include successButton;
    }
}

.text-xxs {
    font-size: 0.6rem /* 12px */;
    line-height: 0.6rem /* 12px */;
}
