<app-button label="Add. Settler" (clickEvent)="addSettler()"></app-button>
<app-button label="Save" class="ml-2" theme="secondary" (clickEvent)="save()"></app-button>
<app-button label="Load" class="ml-2" theme="terciary" (clickEvent)="load()"></app-button>
<table>
    <thead>
        <th>Nome</th>
        <th>Idade</th>
        <th>Habilidade</th>
        <th>Necessidades</th>
        <th>Profissão</th>
        <th>Work</th>
    </thead>
    <tbody>
        <tr *ngFor="let settler of settlers">
            <td>{{settler.completeName}}</td>
            <td>{{settler.age}}</td>
            <td>skill</td>
            <td>
                Fome: {{settler.necessity.hungry}}<br>
                Diversão: {{settler.necessity.fun}}<br>
                Descanso: {{settler.necessity.rest}}<br>
            </td>
            <td>
                {{settler.profession.title}}
            </td>
            <td>
                {{settler.work.name}}
            </td>
        </tr>
    </tbody>
</table>