<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <!-- BUTTONS -->
    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:px-6">
            <h1>Buttons</h1>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="grid grid-cols-3 gap-4 sm:flex sm:items-center sm:justify-between">
                <app-button label="Button text" theme="primary" size="tiny"></app-button>
                <app-button label="Button text" theme="primary" size="small"></app-button>
                <app-button label="Button text" theme="primary" size="medium"></app-button>
                <app-button label="Button text" theme="primary" size="big"></app-button>
                <app-button label="Button text" theme="primary" size="giant"></app-button>
            </div>
        </div>
        <div class="px-4 py-5 sm:px-6">
            <h3>Full Width</h3>
        </div>
        <div class="grid grid-cols-1 gap-4 px-4 py-5 sm:p-6">
            <app-button label="Button text" theme="primary" size="tiny" [fullWidth]="true"></app-button>
            <app-button label="Button text" theme="primary" size="small" [fullWidth]="true"></app-button>
            <app-button label="Button text" theme="primary" size="medium" [fullWidth]="true"></app-button>
            <app-button label="Button text" theme="primary" size="big" [fullWidth]="true"></app-button>
            <app-button label="Button text" theme="primary" size="giant" [fullWidth]="true"></app-button>
        </div>
        <div class="px-4 py-5 sm:px-6">
            <h3>Themes</h3>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="grid grid-cols-3 gap-4 sm:flex sm:items-center sm:justify-between">
                <app-button label="Primary" theme="primary" size="medium"></app-button>
                <app-button label="Secondary" theme="secondary" size="medium"></app-button>
                <app-button label="Terciary" theme="terciary" size="medium"></app-button>
                <app-button label="Danger" theme="danger" size="medium"></app-button>
                <app-button label="Success" theme="success" size="medium"></app-button>
                <app-button label="Warning" theme="warning" size="medium"></app-button>
                <app-button label="Info" theme="info" size="medium"></app-button>
            </div>
        </div>
        <div class="px-4 py-5 sm:px-6">
            <h3>Outline</h3>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="grid grid-cols-3 gap-4 sm:flex sm:items-center sm:justify-between">
                <app-button type="outline" label="Primary" theme="primary" size="medium"></app-button>
                <app-button type="outline" label="Secondary" theme="secondary" size="medium"></app-button>
                <app-button type="outline" label="Terciary" theme="terciary" size="medium"></app-button>
                <app-button type="outline" label="Danger" theme="danger" size="medium"></app-button>
                <app-button type="outline" label="Success" theme="success" size="medium"></app-button>
                <app-button type="outline" label="Warning" theme="warning" size="medium"></app-button>
                <app-button type="outline" label="Info" theme="info" size="medium"></app-button>
            </div>
        </div>
        <div class="px-4 py-5 sm:px-6">
            <h3>Disabled</h3>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="grid grid-cols-3 gap-4 sm:flex sm:items-center sm:justify-between">
                <app-button label="Primary" theme="primary" size="medium" [disabled]="true"></app-button>
                <app-button label="Secondary" theme="secondary" size="medium" [disabled]="true"></app-button>
                <app-button label="Terciary" theme="terciary" size="medium" [disabled]="true"></app-button>
                <app-button label="Danger" theme="danger" size="medium" [disabled]="true"></app-button>
                <app-button label="Success" theme="success" size="medium" [disabled]="true"></app-button>
                <app-button label="Warning" theme="warning" size="medium" [disabled]="true"></app-button>
                <app-button label="Info" theme="info" size="medium" [disabled]="true"></app-button>
            </div>
        </div>
        <div class="px-4 py-5 sm:px-6">
            <h3>Loading</h3>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="grid grid-cols-3 gap-4 sm:flex sm:items-center sm:justify-between">
                <app-button label="Primary" theme="primary" size="tiny" [loading]="true"></app-button>
                <app-button label="Secondary" theme="secondary" size="tiny" [loading]="true"></app-button>
                <app-button label="Terciary" theme="terciary" size="tiny" [loading]="true"></app-button>
                <app-button label="Danger" theme="danger" size="tiny" [loading]="true"></app-button>
                <app-button label="Success" theme="success" size="tiny" [loading]="true"></app-button>
                <app-button label="Warning" theme="warning" size="tiny" [loading]="true"></app-button>
                <app-button label="Info" theme="info" size="tiny" [loading]="true"></app-button>
            </div>
        </div>
    </div>
    <!-- ICONS -->
    <div class="mt-5 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:px-6">
            <h1>Icons</h1>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="grid grid-cols-3 gap-4 sm:flex sm:items-center">
                <app-svg symbol="chat"></app-svg>
                <app-svg symbol="arrowDown"></app-svg>
            </div>
        </div>
    </div>
    <!-- COLORS -->
    <div class="mt-5 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:px-6">
            <h1>Colors</h1>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="grid grid-cols-2 gap-4 sm:grid-cols-4">
                <div class="color primary">Primary</div>
                <div class="color primary shade">Primary Shade</div>
                <div class="color primary tint">Primary Tint</div>
                <div class="color primary contrast">Primary Contrast</div>

                <div class="color secondary">Secondary</div>
                <div class="color secondary shade">Secondary Shade</div>
                <div class="color secondary tint">Secondary Tint</div>
                <div class="color secondary contrast">Secondary Contrast</div>

                <div class="color terciary">Terciary</div>
                <div class="color terciary shade">Terciary Shade</div>
                <div class="color terciary tint">Terciary Tint</div>
                <div class="color terciary contrast">Terciary Contrast</div>

                <div class="color danger">Danger</div>
                <div class="color danger shade">Danger Shade</div>
                <div class="color danger tint">Danger Tint</div>
                <div class="color danger contrast">Danger Contrast</div>

                <div class="color success">Success</div>
                <div class="color success shade">Success Shade</div>
                <div class="color success tint">Success Tint</div>
                <div class="color success contrast">Success Contrast</div>

                <div class="color warning">Warning</div>
                <div class="color warning shade">Warning Shade</div>
                <div class="color warning tint">Warning Tint</div>
                <div class="color warning contrast">Warning Contrast</div>

                <div class="color info">Info</div>
                <div class="color info shade">Info Shade</div>
                <div class="color info tint">Info Tint</div>
                <div class="color info contrast">Info Contrast</div>
            </div>
        </div>
    </div>
    <!-- TYPOGRAPHY -->
    <div class="mt-5 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:px-6">
            <h1>Typography</h1>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="h1">Typography H1</div>
            <div class="h2">Typography H2</div>
            <div class="h3">Typography H3</div>
            <div class="paragraph">Typography Paragraph</div>
            <div class="paragraph-small">Typography Paragraph Small</div>
        </div>
    </div>
</div>