<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:px-6">
            <h1>Buttons</h1>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="sm:flex sm:justify-between sm:items-center grid gap-4 grid-cols-3">
                <app-button label="Button text" theme="primary" size="tiny"></app-button>
                <app-button label="Button text" theme="primary" size="small"></app-button>
                <app-button label="Button text" theme="primary" size="medium"></app-button>
                <app-button label="Button text" theme="primary" size="big"></app-button>
                <app-button label="Button text" theme="primary" size="giant"></app-button>
            </div>
        </div>
        <div class="px-4 py-5 sm:px-6">
            <h2>Full Width</h2>
        </div>
        <div class="px-4 py-5 sm:p-6 grid gap-4 grid-cols-1">
            <app-button label="Button text" theme="primary" size="tiny" [fullWidth]="true"></app-button>
            <app-button label="Button text" theme="primary" size="small" [fullWidth]="true"></app-button>
            <app-button label="Button text" theme="primary" size="medium" [fullWidth]="true"></app-button>
            <app-button label="Button text" theme="primary" size="big" [fullWidth]="true"></app-button>
            <app-button label="Button text" theme="primary" size="giant" [fullWidth]="true"></app-button>
        </div>
        <div class="px-4 py-5 sm:px-6">
            <h2>Themes</h2>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="sm:flex sm:justify-between sm:items-center grid gap-4 grid-cols-3">
                <app-button label="Primary" theme="primary" size="medium"></app-button>
                <app-button label="Secondary" theme="secondary" size="medium"></app-button>
                <app-button label="Terciary" theme="terciary" size="medium"></app-button>
                <app-button label="Danger" theme="danger" size="medium"></app-button>
                <app-button label="Success" theme="success" size="medium"></app-button>
                <app-button label="Warning" theme="warning" size="medium"></app-button>
                <app-button label="Info" theme="info" size="medium"></app-button>
            </div>
        </div>
        <div class="px-4 py-5 sm:px-6">
            <h2>Disabled</h2>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="sm:flex sm:justify-between sm:items-center grid gap-4 grid-cols-3">
                <app-button label="Primary" theme="primary" size="medium" [disabled]="true"></app-button>
                <app-button label="Secondary" theme="secondary" size="medium" [disabled]="true"></app-button>
                <app-button label="Terciary" theme="terciary" size="medium" [disabled]="true"></app-button>
                <app-button label="Danger" theme="danger" size="medium" [disabled]="true"></app-button>
                <app-button label="Success" theme="success" size="medium" [disabled]="true"></app-button>
                <app-button label="Warning" theme="warning" size="medium" [disabled]="true"></app-button>
                <app-button label="Info" theme="info" size="medium" [disabled]="true"></app-button>
            </div>
        </div>
        <div class="px-4 py-5 sm:px-6">
            <h2>Loading</h2>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="sm:flex sm:justify-between sm:items-center grid gap-4 grid-cols-3">
                <app-button label="Primary" theme="primary" size="tiny" [loading]="true"></app-button>
                <app-button label="Secondary" theme="secondary" size="tiny" [loading]="true"></app-button>
                <app-button label="Terciary" theme="terciary" size="tiny" [loading]="true"></app-button>
                <app-button label="Danger" theme="danger" size="tiny" [loading]="true"></app-button>
                <app-button label="Success" theme="success" size="tiny" [loading]="true"></app-button>
                <app-button label="Warning" theme="warning" size="tiny" [loading]="true"></app-button>
                <app-button label="Info" theme="info" size="tiny" [loading]="true"></app-button>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
        <div class="px-4 py-5 sm:px-6">
            <h1>Icons</h1>
        </div>
        <div class="px-4 py-5 sm:p-6">
            <div class="sm:flex sm:items-center grid gap-4 grid-cols-3">
                <app-svg symbol="chat"></app-svg>
                <app-svg symbol="arrow-down"></app-svg>
                <app-svg symbol="teste"></app-svg>
                  
            </div>
        </div>
    </div>
</div>