@import 'styles/variables';

.color {
    @apply flex items-center justify-center rounded-lg p-3 shadow-lg;

    &.primary {
        background-color: $primary;
        color: $primaryContrast;

        &.shade {
            background-color: $primaryShade;
        }
        &.tint {
            background-color: $primaryTint;
        }
        &.contrast {
            background-color: $primaryContrast;
            color: $primary;
        }
    }

    &.secondary {
        background-color: $secondary;
        color: $secondaryContrast;

        &.shade {
            background-color: $secondaryShade;
        }
        &.tint {
            background-color: $secondaryTint;
        }
        &.contrast {
            background-color: $secondaryContrast;
            color: $secondary;
        }
    }

    &.terciary {
        background-color: $terciary;
        color: $terciaryContrast;

        &.shade {
            background-color: $terciaryShade;
        }
        &.tint {
            background-color: $terciaryTint;
        }
        &.contrast {
            background-color: $terciaryContrast;
            color: $terciary;
        }
    }

    &.danger {
        background-color: $danger;
        color: $dangerContrast;

        &.shade {
            background-color: $dangerShade;
        }
        &.tint {
            background-color: $dangerTint;
        }
        &.contrast {
            background-color: $dangerContrast;
            color: $danger;
        }
    }

    &.success {
        background-color: $success;
        color: $successContrast;

        &.shade {
            background-color: $successShade;
        }
        &.tint {
            background-color: $successTint;
        }
        &.contrast {
            background-color: $successContrast;
            color: $success;
        }
    }

    &.warning {
        background-color: $warning;
        color: $warningContrast;

        &.shade {
            background-color: $warningShade;
        }
        &.tint {
            background-color: $warningTint;
        }
        &.contrast {
            background-color: $warningContrast;
            color: $warning;
        }
    }

    &.info {
        background-color: $info;
        color: $infoContrast;

        &.shade {
            background-color: $infoShade;
        }
        &.tint {
            background-color: $infoTint;
        }
        &.contrast {
            background-color: $infoContrast;
            color: $info;
        }
    }
}
