@import 'styles/variables';
@import 'mixins/scroll.mixin';
@import 'mixins/align.mixin';
@import 'mixins/typography.mixin';

* {
    user-select: none;
}

.content {
    overflow-y: auto;
    max-height: 100%;
    @include transparentScroll;
}

.to-do-card {
    @apply m-2 flex rounded-lg p-4 shadow;
    background-color: $neutralWhite;
    @include alignVertically;

    > .title-area {
        @apply ml-2;
        padding-right: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;

        > .title {
            @include paragraph-tiny;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        > .time {
            @include text-small;
            color: $lightShadeDarken;
        }
    }

    > .progress {
        min-width: 30px;
        width: 30px;
    }
}
