<div class="content h-100vh flex w-full">
    <div class="menu-area w-fit">
        <app-menu [isOpen]="menuIsOpen" (closeMenu)="toggle()"></app-menu>
    </div>
    <div class="content-page flex w-full flex-col">
        <div class="overlay-from-menu" *ngIf="menuIsOpen" [@fadeInOnEnter] [@fadeOutOnLeave] (click)="contentClick()">
        </div>
        <div class="header-area">
            <app-header (clickMenu)="toggle()"></app-header>
        </div>
        <div class="router-outlet-area flex justify-between bg-hero-topography">
            <div class="content-route w-full">
                {{menuIsOpen}}
                <router-outlet></router-outlet>
            </div>
            <div class="action-tabs">
                <app-shortcut-tabs></app-shortcut-tabs>
            </div>
        </div>
    </div>
</div>