<app-button class="" theme="primary" label="Adicionar fazenda" (click)="createFarm()"></app-button>
<app-button class="ml-2" theme="secondary" label="Adicionar casa" (click)="createHouse()"></app-button>
<app-button class="ml-2" theme="terciary" label="Adicionar cozinha" (click)="createKitchen()"></app-button>
<app-button class="ml-2" theme="terciary" label="Adicionar cozinha pronta" (click)="createReadyKitchen()"></app-button>

<div class="my-2 mx-4">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 bg-white">
                <thead>
                    <tr>
                        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">
                            Nome</th>
                        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Tempo</th>
                        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Status
                        </th>
                        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Settler
                        </th>
                        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Tasks
                        </th>
                        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Add. Task
                        </th>
                        <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Log
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <tr *ngFor="let contruction of buildings">
                        <td class="whitespace-nowrap py-4 px-3 text-sm font-medium text-gray-900">
                            {{contruction.type | structure}}</td>
                        <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
                            {{contruction.timeMs}}
                        </td>
                        <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{contruction.status}}</td>
                        <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
                            {{contruction.assignedTo | settler}}</td>
                        <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Tasks</td>
                        <td>
                            <app-button theme="secondary" label="Adicionar task"
                                (click)="log(contruction)"></app-button>
                        </td>
                        <td>
                            <app-button theme="terciary" label="Log" (click)="log(contruction)"></app-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>