<app-button class="" theme="primary" label="Adicionar fazenda" (click)="createFarm()"></app-button>
<app-button class="ml-2" theme="secondary" label="Adicionar casa" (click)="createHouse()"></app-button>
<app-button class="ml-2" theme="terciary" label="Adicionar cozinha" (click)="createKitchen()"></app-button>
<app-button class="ml-2" theme="terciary" label="Adicionar cozinha pronta" (click)="createReadyKitchen()"></app-button>
<div class="wrapper">
    <div class="cards" *ngFor="let building of buildings">
        <span class="h2">{{building.type | structure}}</span>
        <hr>
        <div class="paragraph">Tasks:</div>
        <div class="add-task">
            <ng-container *ngFor="let task of building.tasksAllowed">
                <app-button [fullWidth]="true" [label]="'Fazer ' + (task | task)" theme="primary"
                    (clickEvent)="addTask(building, task)"></app-button>
            </ng-container>
        </div>
        <div class="task mt-2 paragraph-small" *ngFor="let item of building.tasks">
            <div class="main-info">
                <div class="task-name">{{item.id | task}}</div>
                <div class="time-left">{{item.timeLeft}}</div>
            </div>
            <div class="secondary-info">
                <div class="status">{{item.available ? 'Disponível' : 'Indisponível'}}</div>
                <div class="assignedTo">{{item.assignedTo ? (item.assignedTo | settler) : 'Ninguém'}}</div>
            </div>
            <div class="button-area">
                <app-button [fullWidth]="true" label="Alternar" theme="info"
                    (clickEvent)="toggleAvailableTask(item)"></app-button>
            </div>
            <div class="warning-area" *ngIf="item.warnings?.length">
                <div *ngFor="let warning of item.warnings">- {{warning.message}}</div>
            </div>
        </div>
        <div class="paragraph-small" *ngIf="!building.tasks.length">Não há nenhuma task</div>
        <hr>
        <div class="paragraph">Inventário:</div>
        <div class="inventory">
            <div class="bg-white p-1 paragraph-small shadow-sm inventory-item rounded-md"
                *ngFor="let inventory of building.inventory">
                <div>{{inventory.type | item}}</div>
                <div>{{inventory.amount}}</div>
            </div>
        </div>
    </div>
</div>