@import 'styles/variables';
@import 'mixins/typography.mixin';
@import 'mixins/media.mixin';
@import 'mixins/align.mixin';

.menu-area {
    position: absolute;
    z-index: 2;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    border-right: 1px solid $lightShade;
    background-color: $light;
    width: 100%;
    height: 100%;
    max-width: 425px;
    transition: 0.5s all;

    &.isOpen {
        transform: translateX(0);
    }

    @include lg {
        position: relative;
        transform: translateX(0);
        width: 200px;
        height: 100%;
    }
}

.section {
    color: $lightContrast;
    opacity: 0.4;
    @include paragraph-small;
    font-size: 0.75rem;
}

.sub-item {
    color: $lightContrast;
    transition: 0.2s background-color;
    @include paragraph-small;
    cursor: pointer;

    &:hover {
        background-color: $lightdarken;
    }

    > .icon {
        background-color: $neutralWhite;
        border: 1px solid $lightShade;

        > app-svg {
            --height: 15px;
            --width: 15px;
            --fill: #{$neutralWhite};
            --stroke: #{$lightContrast};
        }
    }

    &.active {
        background-color: $lightdarken;
    }
}

.header {
    height: 66.4px;
    width: 100%;
    background-color: $lightdarken;
    border-bottom: 1px solid $lightShade;

    > .logo-area {
        display: flex;
        height: 100%;
        align-items: center;

        > .close-menu {
            @apply px-5;
            @include alignToCenter;
            background-color: $lightdarken;
            height: 100%;
            border-right: 1px solid $lightShade;

            > app-svg {
                --height: 1.5rem;
                --width: 1.5rem;
                --fill: #{$light};
                --stroke: #{$lightContrast};
            }

            @include lg {
                display: none;
            }
        }
    }
}
