<app-button label="Adicionar o acampamento" (clickEvent)="addCamping()"></app-button>
<app-button label="Adicionar o Pedreira" class="ml-2" (clickEvent)="addQuarry()"></app-button>
<app-button label="Adicionar a casa do caçador" class="ml-2" (clickEvent)="addHunterHouse()"></app-button>

<div class="my-2 mx-4">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 bg-white">
                <thead>
                    <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                            Id</th>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                            Building</th>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                            Tempo/Percentual</th>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                            Tasks</th>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                            Buttons</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <tr *ngFor="let building of buildings">
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                            {{building.id}}</td>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                            {{building.type | structure}}</td>
                        <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
                            {{building.timeMs}} - {{building.percent}}
                        </td>
                        <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
                            <div *ngFor="let item of building.tasks" class="my-2">
                                {{item.id | task}} -
                                <app-countdown [time]="item.timeLeft"></app-countdown> -
                                {{item.assignedTo ? (item.assignedTo | settler) : 'Ninguém'}} -
                                {{item.available ? 'Disponível' : 'Indisponível'}} -
                                <app-button label="Toggle" theme="info" size="tiny"
                                    (clickEvent)="toggleAvailableTask(item)"></app-button>
                                - <span *ngFor="let warning of item.warnings">{{warning.message}},</span>
                            </div>
                        </td>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                            <app-button class="ml-2" theme="secondary" label="Add task"
                                (click)="addTask(building)"></app-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>