<div class="wrapper">
    <div class="cards" *ngFor="let biome of biomes">
        <span class="h2">{{biome.type | biome}}</span>
        <hr>
        <div class="item">
            <div class="label">Animais</div>
            <div>{{biome.animals}}</div>
        </div>
        <div class="item">
            <div class="label">Terras cultivaveis</div>
            <div>{{biome.cultivableLand}}</div>
        </div>
        <div class="item">
            <div class="label">Pedras</div>
            <div>{{biome.stone}}</div>
        </div>
        <div class="item">
            <div class="label">Madeira disponível</div>
            <div>{{biome.wood}}</div>
        </div>
        <div class="item">
            <div class="label">Água disponível</div>
            <div>{{biome.water}}</div>
        </div>
        <!-- <div class="item">
            <div class="label">Tempo</div>
            <div>{{building.timeMs}}</div>
        </div>
        <div class="paragraph">Tasks:</div>
        <div class="add-task">
            <ng-container *ngFor="let task of building.tasksAllowed">
                <app-button [fullWidth]="true" [label]="'Fazer ' + (task | task)" theme="primary"
                    (clickEvent)="addTask(building, task)"></app-button>
            </ng-container>
        </div>

        <div class="task mt-2 paragraph-small" *ngFor="let task of building.tasks">
            <div class="main-info">
                <div class="task-name">{{task.id | task}}</div>
                <div class="time-left">{{task.timeLeft}}</div>
            </div>
            <div class="secondary-info">
                <div class="status">{{task.available ? 'Disponível' : 'Indisponível'}}</div>
                <div class="assignedTo">{{task.assignedTo ? (task.assignedTo | settler) : 'Ninguém'}}</div>
            </div>
            <div class="secondary-info">
                <div class="status">Processo</div>
                <div class="assignedTo">{{task.currentProcess | taskProcess}}</div>
            </div>
            <div class="button-area">
                <app-button [fullWidth]="true" label="Alternar" theme="info"
                    (clickEvent)="toggleAvailableTask(task)"></app-button>
                <app-button [fullWidth]="true" label="Log" theme="warning" (clickEvent)="logTask(task)"></app-button>
            </div>
            <div class="warning-area" *ngIf="task.warnings?.length">
                <div *ngFor="let warning of task.warnings">- {{warning.message}}</div>
            </div>
        </div>

        <div class="paragraph-small" *ngIf="!building.tasks.length">Não há nenhuma task</div>
        <hr>
        <div class="paragraph">Inventário:</div>
        <div class="inventory">
            <div class="bg-white p-1 paragraph-small shadow-sm inventory-item rounded-md"
                *ngFor="let inventory of building.inventory">
                <div>{{inventory.type | item}}</div>
                <div>{{inventory.amount}}</div>
            </div>
        </div> -->
    </div>
</div>