/*TAILWIND*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/*TAILWIND*/

// mixins
@import 'mixins/typography.mixin';

@import 'styles/variables';
@import 'styles/typography';
@import 'styles/icon';

html {
    margin: 0;
}

hr {
    margin: 10px 0px;
}

.h-100vh {
    height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $lightShade;
}

::-webkit-scrollbar-thumb {
    background-color: darken($lightShade, 20);
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darken($lightShade, 20);
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}
